# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environments
venv/
.venv/
env/

# Environment Variables & Secrets
.env
oauth.json
token.json
credentials.json
client_secrets.json

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Build
build/
dist/
*.egg-info/

# AI Rules
.ai_instructions.md
